<html>
    <body>
        <div>
            <p (click)="irLogout()">Logout</p>
        </div>
        <div>
            <p (click)="irEvents()" [style.background-color]="section == 'events' ? 'red' : 'transparent'">Eventos</p>
        </div>
        <div>
            <p (click)="irMyEvents()" [style.background-color]="section == 'myevents' ? 'red' : 'transparent'">Mis Próximos Eventos</p>
        </div>
        <div *ngIf="rol == 0">
            <p (click)="irReservas()" [style.background-color]="section == 'reservas' ? 'red' : 'transparent'">Reservas</p>
        </div>
        --------
        <div *ngIf="section == 'events'">
            <div>
                <div *ngFor="let evento of eventos; let i = index;">
                    <p>Ciudad: {{evento.ciudad}}</p>
                    <p>Pais: {{evento.pais}}</p>
                    <p>Temperatura: {{evento.temperature}}</p>
                    <p>Costo: {{evento.costo}}</p>
                    <p>Fecha: {{evento.fecha | date:'dd/MM/yyyy'}}</p>
                    <p>Capacidad Actual: {{evento.limite}}</p>
                    <p>Proveedor: {{evento.proveedor.nombre}}</p>
                    <input type="checkbox" (change)="setEventos(evento.id)">
                    <p>---------------------------------------</p>
                </div>
            </div>

            <p>{{error}}</p>
            <button (click)="makeReserva()">Reservar</button>
        </div>
        <div *ngIf="section == 'myevents'">
            <div>
                <div *ngFor="let reserva of reservas; let i = index;">
                    <p>Ciudad: {{reserva.evento.ciudad}}</p>
                    <p>Pais: {{reserva.evento.pais}}</p>
                    <p>Temperatura: {{reserva.evento.temperature}}</p>
                    <p>Costo: {{reserva.evento.costo}}</p>
                    <p>Fecha: {{reserva.evento.fecha | date:'dd/MM/yyyy'}}</p>
                    <p>Proveedor: {{reserva.evento.proveedor.nombre}}</p>
                    <input type="checkbox" (change)="setCancelEventos(reserva.id)">
                    <p>---------------------------------------</p>
                </div>
            </div>
            <p>{{errorCancel}}</p>
            <button (click)="makeCancelReserva()">Cancelar Reserva</button>
        </div>
        <div *ngIf="section == 'reservas' && rol == 0">
            <div>
                <div>
                    <select [(ngModel)]="proveedor">
                        <option value="0">Seleccionar</option>
                        <option
                                *ngFor="let pro of proveedores; let i = index"
                                [value]="pro.id"
                              >
                                {{ pro.nombre }}
                              </option>
                    </select>
                    <div style="display: flex;">
                        <p>Fecha Desde:</p>
                        <input type="date" [(ngModel)]="desde">
                    </div>
                    <div style="display: flex;">
                        <p>Fecha Hasta:</p>
                        <input type="date" [(ngModel)]="hasta">
                    </div>
                    <div>
                        <button (click)="getAllReservas()">Buscar</button>
                    </div>
                    <div>
                        <button (click)="downloadFile(reservasTotales)">Descargar</button>
                    </div>
                </div>
                <div *ngFor="let reserva of reservasTotales; let i = index;">
                    <p>Ciudad: {{reserva.evento.ciudad}}</p>
                    <p>Pais: {{reserva.evento.pais}}</p>
                    <p>Costo: {{reserva.evento.costo}}</p>
                    <p>Fecha: {{reserva.evento.fecha | date:'dd/MM/yyyy'}}</p>
                    <p>Proveedor: {{reserva.evento.proveedor.nombre}}</p>
                    <p>Turista: {{reserva.usuario.nombre}} {{reserva.usuario.apellido}}</p>
                    <p>---------------------------------------</p>
                </div>
                <div>
                    <p>Costo total: {{costoTotalReservas}}</p>
                </div>
            </div>
        </div>
    </body>
</html>